# Python and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# MLflow and model artifacts
mlruns/
artifacts/
*.pth
*.pt
*.pkl
*.h5
*.dll
*.exe
*.jar

# Temporary / logs / misc
*.log
*.csv
*.zip
*.tar
*.gz
.DS_Store
Thumbs.db
