# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# MLflow and artifacts
mlruns/
artifacts/
*.pth
*.pt
*.pkl
*.h5
*.dll
*.exe
*.jar

# Temporary files
*.log
*.csv
*.zip
*.tar
*.gz
.DS_Store
Thumbs.db
