# Virtual environments
.venv/
env/
venv/

# Cache / compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# MLflow & Artifacts
mlruns/
artifacts/
*.pth
*.pt
*.pkl
*.h5
*.joblib

# Large binaries
*.dll
*.exe
*.jar

# Logs / temp / datasets
*.log
*.csv
*.zip
*.tar
*.gz
*.jsonl
*.npz

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
